<h2>Nouveau?</h2>
<%= form_for @user, :as => :user, :url => new_user_path, :method => :post do |f| %>
    <div>
      <%= f.label "Nom d'utilisateur:" %><br/>
      <%= f.text_field :username %>
      <%= show_field_error(@user, :username) %>
    </div>
    <p>
      <%= f.label 'Courriel:' %><br/>
      <%= f.text_field :email %>
      <%= show_field_error(@user, :email) %>
    </p>
    <p>
      <%= f.label 'Mot de passe:' %><br/>
      <%= f.password_field :password %>
      <%= show_field_error(@user, :password) %>
    </p>
    <p>
      <%= f.label 'Confirmation du mot de passe:' %><br/>
      <%= f.password_field :password_confirmation %>
      <%= show_field_error(@user, :password_confirmation) %>
    </p>
    <p>
      <%= f.submit "S'inscrire" , :class => "btn btn-danger" %>&nbsp;&nbsp;&nbsp;
    </p>
<% end %>