<h2><%= @artiste.nom %></h2>

<h3>LP</h3>
<div class="liste-albums">
  <% @albums.each do |album| %>
      <div>
        <%  rating = album.get_rating(album.id, current_user.id)%>
            <img src="/assets/albums/<%= album.id %>.jpg" width="125">
            <h4><%= album.name %></h4>
               <%= album.anneeSortie %><br />
          <p>Moyenne des usagers</p>
          <div class="star">
            <script>
                $('.star').raty({
                    readOnly: true,
                    path: '/assets',
                    score: 0
                });
            </script>
          </div>
          <p>Ma note</p>
          <div data-number= <%= rating.id %> data-score=  <%= rating.rating %> class="user_star">
            <script>
                 $('.user_star').raty({
                    path: '/assets',
                    half: true,
                    score: function() {
                        return $(this).attr('data-score');
                    },
                    click: function(score, evt) {
                        $.ajax({

                            url: '/ratings/' +  $(this).attr('data-number'),
                            type: 'PATCH',
                            data: { rating: score }
                        }).done(function (data){});
                    }
                 });
            </script>
          </div>
            <a href="#">+ Collection</a><br />
            <a href="#">+ Plus tard</a>
      </div>
   <%end%>
</div>

<h3>EP</h3>
<div class="liste-albums">
  <% @eps.each do |ep| %>
      <div>
          <%  rating = ep.get_rating(ep.id, current_user.id)%>
          <img src="/assets/albums/<%= ep.id %>.jpg" width="125">
          <h4><%= ep.name %></h4>
          <%= ep.anneeSortie %><br />
        <p>Moyenne des usagers</p>
        <div class="star">
          <script>
              $('.star').raty({
                  readOnly: true,
                  path: '/assets',
                  score: 0
              });
          </script>
        </div>
        <p>Ma note</p>
        <div data-number= <%= rating.id %> data-score=  <%= rating.rating %> class="user_star">
          <script>
              $('.user_star').raty({
                  path: '/assets',
                  half: true,
                  score: function() {
                      return $(this).attr('data-score');
                  },
                  click: function(score, evt) {
                      $.ajax({

                          url: '/ratings/' +  $(this).attr('data-number'),
                          type: 'PATCH',
                          data: { rating: score }
                      }).done(function (data){});
                  }
              });
          </script>
        </div>
          <a href="#">+ Collection</a><br />
          <a href="#">+ Plus tard</a>
      </div>
  <%end%>
</div>