<h2>Ma collection</h2>

    <table>
      <tr>
        <th>Album</th>
        <th>Artiste</th>
        <th>Note</th>
        <th></th>
        <th></th>
      </tr>
      <% @liste.each do |element| %>
          <%  rating = element.album.get_rating(element.album.id, current_user.id)%>
          <tr>
            <td><%= element.album.name %></td>
            <td><%= element.album.artiste.nom %></td>
            <td>
              <div data-number= <%= rating.id %> data-score=  <%= rating.rating %> class="user_star">
              <script>
                  $('.user_star').raty({
                      path: '/assets',
                      half: true,
                      score: function() {
                          return $(this).attr('data-score');
                      },
                      click: function(score, evt) {
                          $.ajax({

                              url: '/ratings/' +  $(this).attr('data-number'),
                              type: 'PATCH',
                              data: { rating: score }
                          }).done(function (data){});
                      }
                  });
               </script>
               </div>
            </td>
            <td><%= link_to "Supprimer", supprimerListe_path(:id => element.id), :method => :delete, :confirm => "Êtes-vous sûr de vouloir supprimer  #{element.album.name} de la liste?" %></td>
          </tr>
      <%end%>
    </table>