<!DOCTYPE html>
<html>
<head>
  <title>CDCollection</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<!--HEADER-->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Albums notés",    '#' %></li>
          <li><%= link_to "Ma collection",    '#' %></li>
          <li><%= link_to "À écouter plus tard", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<p>
  <% if current_user %>
      Logged in as <%= current_user.username %>.
      <%= link_to "Sign Out", signed_out_path %>
  <% else %>
      <%= link_to "Sign up", new_user_path %> or
      <%= link_to "Sign In", sign_in_path %>
  <% end %>
</p>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
